Repository marktext/muya: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint "**/*.css" --fix

.lintstagedrc:

{
  "*.ts": ["eslint --fix"],
  "*.{html,css}": ["stylelint \"**/*.css\" --fix"]
}

docs(examples): full-coverage playground with sidebar control panel
  .lintstagedrc
  examples/index.html
  examples/src/data.ts
  examples/src/main.ts
  examples/src/style.css
  packages/core/src/index.ts
Due: eslint --fix, stylelint "**/*.css" --fix

test: address Copilot review on PR #235
  e2e/tests/helpers/selectors.ts
  e2e/tests/inline/link-tools.spec.ts
  e2e/tests/ui/paragraph-front.spec.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix

feat(examples): sidebar collapse toggle
  examples/index.html
  examples/src/main.ts
  examples/src/style.css
Due: eslint --fix, stylelint "**/*.css" --fix

docs(examples): full-coverage playground with sidebar control panel (#233)
  .lintstagedrc
  examples/index.html
  examples/src/data.ts
  examples/src/main.ts
  examples/src/style.css
  packages/core/src/index.ts
Due: eslint --fix, stylelint "**/*.css" --fix

fix(review): widen clickHandler guard to Element; scope test lint exemption
  eslint.config.mjs
  packages/core/src/block/base/format.ts
  packages/core/src/inlineRenderer/renderer/__tests__/loadImageAsync.spec.ts
Due: eslint --fix

refactor(core): replace as-assertions with type guards and typed helpers
  packages/core/src/block/base/format.ts
  packages/core/src/block/base/treeNode.ts
  packages/core/src/block/commonMark/bulletList/index.ts
  packages/core/src/block/content/atxHeadingContent/index.ts
  packages/core/src/block/content/paragraphContent/index.ts
  packages/core/src/block/content/tableCell/index.ts
  packages/core/src/block/content/thematicBreakContent/index.ts
  packages/core/src/block/extra/footnote/__tests__/footnote.spec.ts
  packages/core/src/block/gfm/taskListCheckbox/index.ts
  packages/core/src/block/scrollPage/index.ts
  packages/core/src/clipboard/index.ts
  packages/core/src/config/emptyStates.ts
  packages/core/src/editor/index.ts
  packages/core/src/history/index.ts
  packages/core/src/inlineRenderer/renderer/htmlTag.ts
  packages/core/src/inlineRenderer/renderer/index.ts
  packages/core/src/selection/index.ts
  packages/core/src/state/index.ts
  packages/core/src/state/markdownToHtml.ts
  packages/core/src/state/markdownToState.ts
  packages/core/src/state/stateToMarkdown.ts
  packages/core/src/state/types.ts
  packages/core/src/ui/baseFloat/index.ts
  packages/core/src/ui/baseScrollFloat/index.ts
  packages/core/src/ui/emojiSelector/index.ts
  packages/core/src/ui/imageEditTool/index.ts
  packages/core/src/ui/imageResizeBar/index.ts
  packages/core/src/ui/paragraphFrontButton/index.ts
  packages/core/src/ui/paragraphFrontMenu/index.ts
  packages/core/src/ui/paragraphQuickInsertMenu/config.ts
  packages/core/src/ui/paragraphQuickInsertMenu/index.ts
  packages/core/src/ui/tableChessboard/index.ts
  packages/core/src/utils/dom.ts
  packages/core/src/utils/getLinkInfo.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/marked/extensions/footnote.ts
  packages/core/src/utils/marked/walkTokens.ts
  packages/core/src/utils/turndownService/index.ts
Due: eslint --fix

chore(lint): ban `as unknown as X` outside audited boundaries
  eslint.config.mjs
Due: none

test(e2e): guard host options with `satisfies Partial<IMuyaOptions>`
  e2e/host/main.ts
Due: eslint --fix

refactor(core): replace as-assertions with type guards + ban as unknown as X (#234)
  eslint.config.mjs
  packages/core/src/block/base/format.ts
  packages/core/src/block/base/treeNode.ts
  packages/core/src/block/commonMark/bulletList/index.ts
  packages/core/src/block/content/atxHeadingContent/index.ts
  packages/core/src/block/content/paragraphContent/index.ts
  packages/core/src/block/content/tableCell/index.ts
  packages/core/src/block/content/thematicBreakContent/index.ts
  packages/core/src/block/extra/footnote/__tests__/footnote.spec.ts
  packages/core/src/block/gfm/taskListCheckbox/index.ts
  packages/core/src/block/scrollPage/index.ts
  packages/core/src/clipboard/index.ts
  packages/core/src/config/emptyStates.ts
  packages/core/src/editor/index.ts
  packages/core/src/history/index.ts
  packages/core/src/inlineRenderer/renderer/__tests__/loadImageAsync.spec.ts
  packages/core/src/inlineRenderer/renderer/htmlTag.ts
  packages/core/src/inlineRenderer/renderer/index.ts
  packages/core/src/selection/index.ts
  packages/core/src/state/index.ts
  packages/core/src/state/markdownToHtml.ts
  packages/core/src/state/markdownToState.ts
  packages/core/src/state/stateToMarkdown.ts
  packages/core/src/state/types.ts
  packages/core/src/ui/baseFloat/index.ts
  packages/core/src/ui/baseScrollFloat/index.ts
  packages/core/src/ui/emojiSelector/index.ts
  packages/core/src/ui/imageEditTool/index.ts
  packages/core/src/ui/imageResizeBar/index.ts
  packages/core/src/ui/paragraphFrontButton/index.ts
  packages/core/src/ui/paragraphFrontMenu/index.ts
  packages/core/src/ui/paragraphQuickInsertMenu/config.ts
  packages/core/src/ui/paragraphQuickInsertMenu/index.ts
  packages/core/src/ui/tableChessboard/index.ts
  packages/core/src/utils/dom.ts
  packages/core/src/utils/getLinkInfo.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/marked/extensions/footnote.ts
  packages/core/src/utils/marked/walkTokens.ts
  packages/core/src/utils/turndownService/index.ts
Due: eslint --fix

docs: add CONTRIBUTING.md (#193)
  CONTRIBUTING.md
Due: none

docs: align CONTRIBUTING.md with pnpm/Turborepo stack
  CONTRIBUTING.md
Due: none

docs: address Copilot review on CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: align CONTRIBUTING.md with pnpm/Turborepo stack (#236)
  CONTRIBUTING.md
Due: none

test(e2e): Phase 3 — render depth + remaining blocks + sanitize
  e2e/BACKLOG.md
  e2e/tests/blocks/footnote-scenarios.spec.ts
  e2e/tests/blocks/frontmatter.spec.ts
  e2e/tests/blocks/html-inline.spec.ts
  e2e/tests/blocks/reference-link-image.spec.ts
  e2e/tests/diagrams/plantuml.spec.ts
  e2e/tests/diagrams/vega-lite.spec.ts
  e2e/tests/helpers/selectors.ts
  e2e/tests/security/sanitize.spec.ts
  e2e/types.d.ts
Due: eslint --fix

test(e2e): Phase 3 — render depth + remaining blocks + sanitize (#237)
  e2e/BACKLOG.md
  e2e/tests/blocks/footnote-scenarios.spec.ts
  e2e/tests/blocks/frontmatter.spec.ts
  e2e/tests/blocks/html-inline.spec.ts
  e2e/tests/blocks/reference-link-image.spec.ts
  e2e/tests/diagrams/plantuml.spec.ts
  e2e/tests/diagrams/vega-lite.spec.ts
  e2e/tests/helpers/selectors.ts
  e2e/tests/security/sanitize.spec.ts
  e2e/types.d.ts
Due: eslint --fix

fix(e2e): use muya.focus() instead of click+wait for autopair tests
  e2e/tests/options/autopair.spec.ts
Due: eslint --fix

docs(e2e): clarify perf-spec timeout budgets (Copilot review)
  e2e/tests/stability/perf.spec.ts
Due: eslint --fix

test(e2e): Phase 4 — stability / perf / a11y guardrails
  e2e/BACKLOG.md
  e2e/host/main.ts
  e2e/package.json
  e2e/tests/a11y/host-scan.spec.ts
  e2e/tests/edges/empty-and-tiny.spec.ts
  e2e/tests/export/markdown-to-html.spec.ts
  e2e/tests/helpers/selectors.ts
  e2e/tests/options/autopair.spec.ts
  e2e/tests/options/disable-html.spec.ts
  e2e/tests/options/focus-mode.spec.ts
  e2e/tests/options/spellcheck.spec.ts
  e2e/tests/stability/listener-leak.spec.ts
  e2e/tests/stability/perf.spec.ts
  e2e/types.d.ts
  pnpm-lock.yaml
Due: eslint --fix

test(e2e): Phase 4 — stability / perf / a11y (#238)
  e2e/BACKLOG.md
  e2e/host/main.ts
  e2e/package.json
  e2e/tests/a11y/host-scan.spec.ts
  e2e/tests/edges/empty-and-tiny.spec.ts
  e2e/tests/export/markdown-to-html.spec.ts
  e2e/tests/helpers/selectors.ts
  e2e/tests/options/autopair.spec.ts
  e2e/tests/options/disable-html.spec.ts
  e2e/tests/options/focus-mode.spec.ts
  e2e/tests/options/spellcheck.spec.ts
  e2e/tests/stability/listener-leak.spec.ts
  e2e/tests/stability/perf.spec.ts
  e2e/types.d.ts
  pnpm-lock.yaml
Due: eslint --fix

test(e2e): tighten image-resize width assertion (Copilot review)
  e2e/tests/drag/image-resize.spec.ts
Due: eslint --fix

fix(e2e): grant clipboard perms per-test, not via test.use()
  e2e/tests/editing/clipboard.spec.ts
Due: eslint --fix

test(e2e): Phase 2 — cross-browser matrix + drag/IME
  .github/workflows/ci-e2e.yml
  e2e/BACKLOG.md
  e2e/README.md
  e2e/host/main.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/drag/image-resize.spec.ts
  e2e/tests/drag/paragraph-reorder.spec.ts
  e2e/tests/drag/table-drag-bar.spec.ts
  e2e/tests/editing/clipboard.spec.ts
  e2e/tests/helpers/selectors.ts
  e2e/tests/typing/ime.spec.ts
Due: eslint --fix

fix(e2e): use real Clipboard API + Cmd+V for paste tests
  e2e/tests/editing/clipboard.spec.ts
Due: eslint --fix

test(e2e): Phase 2 — cross-browser matrix + drag/IME (#239)
  .github/workflows/ci-e2e.yml
  e2e/BACKLOG.md
  e2e/README.md
  e2e/host/main.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/drag/image-resize.spec.ts
  e2e/tests/drag/paragraph-reorder.spec.ts
  e2e/tests/drag/table-drag-bar.spec.ts
  e2e/tests/editing/clipboard.spec.ts
  e2e/tests/helpers/selectors.ts
  e2e/tests/typing/ime.spec.ts
Due: eslint --fix

fix(core): preventDefault on Enter at start of ATX heading
  packages/core/src/block/content/atxHeadingContent/__tests__/enterHandler.spec.ts
  packages/core/src/block/content/atxHeadingContent/index.ts
  packages/core/src/selection/index.ts
Due: eslint --fix

feat(i18n): expand locale coverage to 9 languages
  README.md
  e2e/host/index.html
  e2e/host/main.ts
  e2e/tests/i18n/locale-switch.spec.ts
  e2e/tests/smoke/public-api.spec.ts
  examples/index.html
  examples/src/main.ts
  packages/core/src/index.ts
  packages/core/src/locales/de.ts
  packages/core/src/locales/es.ts
  packages/core/src/locales/fr.ts
  packages/core/src/locales/index.ts
  packages/core/src/locales/ja.ts
  packages/core/src/locales/ko.ts
  packages/core/src/locales/pt.ts
  packages/core/src/locales/zh-CN.ts
  packages/core/src/locales/zh-TW.ts
Due: eslint --fix, stylelint "**/*.css" --fix

fix(core): preventDefault on Enter at start of ATX heading (#240)
  packages/core/src/block/content/atxHeadingContent/__tests__/enterHandler.spec.ts
  packages/core/src/block/content/atxHeadingContent/index.ts
  packages/core/src/selection/index.ts
Due: eslint --fix

feat(i18n): expand locale coverage to 9 languages (#241)
  README.md
  e2e/host/index.html
  e2e/host/main.ts
  e2e/tests/i18n/locale-switch.spec.ts
  e2e/tests/smoke/public-api.spec.ts
  examples/index.html
  examples/src/main.ts
  packages/core/src/index.ts
  packages/core/src/locales/de.ts
  packages/core/src/locales/es.ts
  packages/core/src/locales/fr.ts
  packages/core/src/locales/index.ts
  packages/core/src/locales/ja.ts
  packages/core/src/locales/ko.ts
  packages/core/src/locales/pt.ts
  packages/core/src/locales/zh-CN.ts
  packages/core/src/locales/zh-TW.ts
Due: eslint --fix, stylelint "**/*.css" --fix

test(e2e): skip 10k-paragraph perf budget on webkit and firefox
  e2e/tests/stability/perf.spec.ts
Due: eslint --fix

fix(ci): exclude @perf tests from PR-time e2e job
  .github/workflows/ci-e2e.yml
  e2e/tests/stability/perf.spec.ts
Due: eslint --fix

ci(e2e): exclude @perf tests from PR-time job (#242)
  .github/workflows/ci-e2e.yml
Due: none

docs(readme): announce migration to marktext/marktext repo
  README.md
Due: none

docs(readme): announce migration to marktext/marktext repo (#244)
  README.md
Due: none
