Repository marktext/muya: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint "**/*.css" --fix

refactor: update lock file
  pnpm-lock.yaml
Due: none

chore(release): release v0.0.32
  CHANGELOG.md
  package.json
  packages/core/package.json
Due: none

refactor: remove changelog
  CHANGELOG.md
  packages/core/src/block/base/content.ts
Due: eslint --fix

refactor: update lock file
  packages/core/package.json
  pnpm-lock.yaml
Due: none

docs: update quick start in readme
  README.md
  examples/src/main.ts
Due: eslint --fix

fix: update @muya/core to @muyajs/core in examples
  README.md
  examples/package.json
  examples/src/main.ts
  packages/core/src/ui/baseScrollFloat/index.ts
  packages/core/src/ui/ui.ts
  pnpm-lock.yaml
Due: eslint --fix

ci: add build ci
  .github/workflows/build.yml
Due: none

ci: add build ci (#161)
  .github/workflows/build.yml
Due: none

refactor: update examples and dependences
  examples/src/main.ts
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: eslint --fix

refactor: update examples and dependences (#162)
  examples/src/main.ts
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: eslint --fix

refactor: merge copy.ts paste.ts cut.ts into one file
  packages/core/src/clipboard/base.ts
  packages/core/src/clipboard/copy.ts
  packages/core/src/clipboard/cut.ts
  packages/core/src/clipboard/index.ts
  packages/core/src/clipboard/paste.ts
Due: eslint --fix

fix: all circular dependences
  .github/workflows/ci-circular.yml
  .github/workflows/ci-lint.yml
  packages/core/src/block/base/format.ts
  packages/core/src/selection/index.ts
  packages/core/src/utils/index.ts
Due: eslint --fix

refactor: use Nullable to replace
  packages/core/src/block/base/format.ts
  packages/core/src/block/base/linkedList/__tests__/linkedlist.spec.ts
  packages/core/src/block/base/linkedList/linkedList.ts
  packages/core/src/block/base/parent.ts
  packages/core/src/block/base/treeNode.ts
  packages/core/src/block/commonMark/bulletList/index.ts
  packages/core/src/block/commonMark/listItem/index.ts
  packages/core/src/block/commonMark/orderList/index.ts
  packages/core/src/block/gfm/table/cell.ts
  packages/core/src/block/gfm/table/index.ts
  packages/core/src/block/gfm/table/row.ts
  packages/core/src/block/gfm/table/table.ts
  packages/core/src/block/gfm/taskListItem/index.ts
  packages/core/src/selection/index.ts
Due: eslint --fix

refactor: use Nullable to replace (#165)
  packages/core/src/block/base/format.ts
  packages/core/src/block/base/linkedList/__tests__/linkedlist.spec.ts
  packages/core/src/block/base/linkedList/linkedList.ts
  packages/core/src/block/base/parent.ts
  packages/core/src/block/base/treeNode.ts
  packages/core/src/block/commonMark/bulletList/index.ts
  packages/core/src/block/commonMark/listItem/index.ts
  packages/core/src/block/commonMark/orderList/index.ts
  packages/core/src/block/gfm/table/cell.ts
  packages/core/src/block/gfm/table/index.ts
  packages/core/src/block/gfm/table/row.ts
  packages/core/src/block/gfm/table/table.ts
  packages/core/src/block/gfm/taskListItem/index.ts
  packages/core/src/selection/index.ts
Due: eslint --fix

refactor: use rxjs to replace eventCenter
  packages/core/package.json
  packages/core/src/block/commonMark/codeBlock/code.ts
  packages/core/src/block/extra/diagram/diagramPreview.ts
  packages/core/src/block/extra/math/mathPreview.ts
  packages/core/src/block/gfm/table/index.ts
  packages/facade/README.md
  pnpm-lock.yaml
Due: eslint --fix

refactor: use fromEvent to replace attachDOMEvent
  packages/core/src/clipboard/index.ts
  packages/core/src/editor/index.ts
Due: eslint --fix

refactor: use rxjs to replace eventCenter (#166)
  packages/core/package.json
  packages/core/src/block/commonMark/codeBlock/code.ts
  packages/core/src/block/extra/diagram/diagramPreview.ts
  packages/core/src/block/extra/math/mathPreview.ts
  packages/core/src/block/gfm/table/index.ts
  packages/core/src/clipboard/index.ts
  packages/core/src/editor/index.ts
  packages/facade/README.md
  pnpm-lock.yaml
Due: eslint --fix

refactor: update dependences
  package.json
  pnpm-lock.yaml
Due: none

refactor: update dependences (#167)
  package.json
  pnpm-lock.yaml
Due: none

refactor: update eslint
  package.json
  pnpm-lock.yaml
Due: none

refactor: update eslint (#168)
  package.json
  pnpm-lock.yaml
Due: none

build: add package manager
  package.json
  turbo.json
Due: none

fix: undo error when input #
  examples/package.json
  packages/core/src/editor/index.ts
  packages/core/src/history/index.ts
  packages/core/src/muya.ts
  packages/core/src/state/index.ts
Due: eslint --fix

fix: undo error when input #
  packages/core/src/block/base/content.ts
  packages/core/src/block/base/format.ts
  packages/core/src/block/commonMark/html/htmlPreview.ts
  packages/core/src/block/content/paragraphContent/index.ts
  packages/core/src/clipboard/index.ts
  packages/core/src/config/index.ts
  packages/core/src/event/index.ts
  packages/core/src/inlineRenderer/lexer.ts
  packages/core/src/inlineRenderer/renderer/image.ts
  packages/core/src/inlineRenderer/renderer/loadImageAsync.ts
  packages/core/src/inlineRenderer/rules.ts
  packages/core/src/inlineRenderer/utils.ts
  packages/core/src/selection/dom.ts
  packages/core/src/state/markdownToState.ts
  packages/core/src/state/stateToMarkdown.ts
  packages/core/src/ui/baseFloat/index.ts
  packages/core/src/ui/imageResizeBar/index.ts
  packages/core/src/ui/inlineFormatToolbar/index.ts
  packages/core/src/ui/paragraphFrontButton/index.ts
  packages/core/src/ui/paragraphFrontMenu/index.ts
  packages/core/src/ui/tableDragBar/index.ts
  packages/core/src/utils/image.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/logger.ts
  packages/core/src/utils/marked/extensions/emoji.ts
  packages/core/src/utils/marked/extensions/math.ts
  packages/core/src/utils/marked/frontMatter.ts
  packages/core/src/utils/paste.ts
  packages/core/src/utils/search.ts
  packages/core/src/utils/turndownService/index.ts
  packages/core/src/utils/url.ts
Due: eslint --fix

fix: lint error
  packages/core/src/block/content/paragraphContent/index.ts
Due: eslint --fix

fix: undo error when input slash (#172)
  examples/package.json
  packages/core/src/block/base/content.ts
  packages/core/src/block/base/format.ts
  packages/core/src/block/commonMark/html/htmlPreview.ts
  packages/core/src/block/content/paragraphContent/index.ts
  packages/core/src/clipboard/index.ts
  packages/core/src/config/index.ts
  packages/core/src/editor/index.ts
  packages/core/src/event/index.ts
  packages/core/src/history/index.ts
  packages/core/src/inlineRenderer/lexer.ts
  packages/core/src/inlineRenderer/renderer/image.ts
  packages/core/src/inlineRenderer/renderer/loadImageAsync.ts
  packages/core/src/inlineRenderer/rules.ts
  packages/core/src/inlineRenderer/utils.ts
  packages/core/src/muya.ts
  packages/core/src/selection/dom.ts
  packages/core/src/state/index.ts
  packages/core/src/state/markdownToState.ts
  packages/core/src/state/stateToMarkdown.ts
  packages/core/src/ui/baseFloat/index.ts
  packages/core/src/ui/imageResizeBar/index.ts
  packages/core/src/ui/inlineFormatToolbar/index.ts
  packages/core/src/ui/paragraphFrontButton/index.ts
  packages/core/src/ui/paragraphFrontMenu/index.ts
  packages/core/src/ui/tableDragBar/index.ts
  packages/core/src/utils/image.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/logger.ts
  packages/core/src/utils/marked/extensions/emoji.ts
  packages/core/src/utils/marked/extensions/math.ts
  packages/core/src/utils/marked/frontMatter.ts
  packages/core/src/utils/paste.ts
  packages/core/src/utils/search.ts
  packages/core/src/utils/turndownService/index.ts
  packages/core/src/utils/url.ts
Due: eslint --fix

fix: destroy
  examples/index.html
  examples/package.json
  examples/src/main.ts
  packages/core/src/muya.ts
  packages/core/src/ui/imageResizeBar/index.ts
  packages/core/src/ui/ui.ts
Due: eslint --fix, stylelint "**/*.css" --fix

fix: rerender makes select behavior wrong
  packages/core/src/block/base/content.ts
  packages/core/src/block/base/format.ts
  packages/core/src/inlineRenderer/index.ts
Due: eslint --fix

build: update dependences
  examples/package.json
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: none

chore(release): release v0.0.33
  CHANGELOG.md
  package.json
  packages/core/package.json
Due: none

build: update package.json
  examples/package.json
  package.json
Due: none

chore(release): release v0.0.34
  CHANGELOG.md
  package.json
  packages/core/package.json
Due: none

fix: TS error in table picker
  docs/jsonState.ts
  packages/core/src/ui/tableChessboard/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  stylelint "**/*.css" --fix: any of: *.{html,css}
