Repository marktext/muya: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint "**/*.css" --fix

chore(release): release v0.0.35
  CHANGELOG.md
  package.json
  packages/core/package.json
Due: none

build: update Readme
  README.md
Due: none

refactor: use floating-ui/dom to replace popper.js
  packages/core/package.json
  packages/core/src/ui/baseFloat/index.css
  packages/core/src/ui/baseFloat/index.ts
  packages/core/src/ui/baseScrollFloat/index.ts
  packages/core/src/ui/codeBlockLanguageSelector/index.ts
  packages/core/src/ui/emojiSelector/index.ts
  packages/core/src/ui/footnoteTool/index.js
  packages/core/src/ui/imageEditTool/index.ts
  packages/core/src/ui/imageToolbar/index.ts
  packages/core/src/ui/inlineFormatToolbar/index.ts
  packages/core/src/ui/linkTools/index.ts
  packages/core/src/ui/paragraphFrontButton/index.css
  packages/core/src/ui/paragraphFrontButton/index.ts
  packages/core/src/ui/paragraphFrontMenu/index.ts
  packages/core/src/ui/previewToolBar/index.ts
  packages/core/src/ui/tableColumnToolbar/index.ts
  packages/core/src/ui/tableDragBar/index.ts
  packages/core/src/ui/tableRowColumMenu/index.ts
  packages/core/src/ui/types.ts
  pnpm-lock.yaml
Due: eslint --fix, stylelint "**/*.css" --fix

refactor: use floating-ui/dom to replace popper.js (#192)
  packages/core/package.json
  packages/core/src/ui/baseFloat/index.css
  packages/core/src/ui/baseFloat/index.ts
  packages/core/src/ui/baseScrollFloat/index.ts
  packages/core/src/ui/codeBlockLanguageSelector/index.ts
  packages/core/src/ui/emojiSelector/index.ts
  packages/core/src/ui/footnoteTool/index.js
  packages/core/src/ui/imageEditTool/index.ts
  packages/core/src/ui/imageToolbar/index.ts
  packages/core/src/ui/inlineFormatToolbar/index.ts
  packages/core/src/ui/linkTools/index.ts
  packages/core/src/ui/paragraphFrontButton/index.css
  packages/core/src/ui/paragraphFrontButton/index.ts
  packages/core/src/ui/paragraphFrontMenu/index.ts
  packages/core/src/ui/previewToolBar/index.ts
  packages/core/src/ui/tableColumnToolbar/index.ts
  packages/core/src/ui/tableDragBar/index.ts
  packages/core/src/ui/tableRowColumMenu/index.ts
  packages/core/src/ui/types.ts
  pnpm-lock.yaml
Due: eslint --fix, stylelint "**/*.css" --fix

build: update some dependences
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: none

feat: update list style
  packages/core/src/assets/styles/blockSyntax.css
Due: stylelint "**/*.css" --fix

chore(release): release v0.0.36
  CHANGELOG.md
  package.json
  packages/core/package.json
Due: none

fix: list style css
  packages/core/src/assets/styles/blockSyntax.css
Due: stylelint "**/*.css" --fix

chore(release): release v0.0.37
  CHANGELOG.md
  package.json
  packages/core/package.json
Due: none

refactor: optimization of image edit tool
  package.json
  packages/core/package.json
  packages/core/src/ui/imageEditTool/index.ts
  packages/core/src/ui/imageToolbar/index.ts
  pnpm-lock.yaml
Due: eslint --fix

chore: update @antfu/eslint-config: ^6.1.0 → ^6.2.0
  .husky/commit-msg
  examples/src/data.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix

chore: degrade marked to v16 '
  examples/src/data.ts
  packages/core/package.json
  pnpm-lock.yaml
Due: eslint --fix

fix: hide inline format toolbar when necessary
  examples/index.html
  examples/src/main.ts
  examples/src/style.css
  packages/core/src/assets/styles/blockSyntax.css
  packages/core/src/config/emptyStates.ts
  packages/core/src/ui/inlineFormatToolbar/index.ts
  packages/core/src/ui/paragraphFrontMenu/index.ts
  packages/core/src/ui/tableRowColumMenu/index.css
Due: eslint --fix, stylelint "**/*.css" --fix

chore(release): release v0.0.38
  CHANGELOG.md
  package.json
  packages/core/package.json
Due: none

fix: ResizeObserver loop completed with undelivered notifications.
  packages/core/src/ui/baseFloat/index.ts
  packages/core/src/ui/paragraphFrontButton/index.ts
Due: eslint --fix

chore(release): release v0.0.39
  CHANGELOG.md
  package.json
  packages/core/package.json
Due: none

added CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: add CLAUDE.md guide for Claude Code
  CLAUDE.md
Due: none

chore: upgrade dependencies to latest
  .stylelintrc
  package.json
  packages/core/package.json
  packages/core/src/assets/styles/inlineSyntax.css
  packages/core/src/event/index.ts
  packages/core/src/inlineRenderer/utils.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/marked/extensions/emoji.ts
  packages/core/src/utils/marked/extensions/math.ts
  packages/core/src/utils/marked/extensions/superSubscript.ts
  packages/core/src/utils/paste.ts
  pnpm-lock.yaml
Due: eslint --fix, stylelint "**/*.css" --fix

chore: upgrade dependencies to latest (#199)
  .stylelintrc
  package.json
  packages/core/package.json
  packages/core/src/assets/styles/inlineSyntax.css
  packages/core/src/event/index.ts
  packages/core/src/inlineRenderer/utils.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/marked/extensions/emoji.ts
  packages/core/src/utils/marked/extensions/math.ts
  packages/core/src/utils/marked/extensions/superSubscript.ts
  packages/core/src/utils/paste.ts
  pnpm-lock.yaml
Due: eslint --fix, stylelint "**/*.css" --fix

fix: avoid shared Marked state leaking across renderHtml calls
  packages/core/src/utils/marked/getClipboardHtml.ts
  packages/core/src/utils/marked/getHighlightHtml.ts
  packages/core/src/utils/marked/walkTokens.ts
Due: eslint --fix

fix: avoid shared Marked state leaking across renderHtml calls (#202)
  packages/core/src/utils/marked/getClipboardHtml.ts
  packages/core/src/utils/marked/getHighlightHtml.ts
  packages/core/src/utils/marked/walkTokens.ts
Due: eslint --fix

ci: bump CI Node from 20 to 22 to fix ESLint config loading
  .github/actions/setup-node/action.yml
Due: none

chore: clear 57 pre-existing ESLint errors exposed after #199
  packages/core/src/block/base/format.ts
  packages/core/src/block/base/parent.ts
  packages/core/src/block/commonMark/html/htmlPreview.ts
  packages/core/src/block/content/codeBlockContent/index.ts
  packages/core/src/block/extra/diagram/diagramPreview.ts
  packages/core/src/block/extra/math/mathPreview.ts
  packages/core/src/inlineRenderer/renderer/inlineMath.ts
  packages/core/src/inlineRenderer/rules.ts
  packages/core/src/state/markdownToHtml.ts
  packages/core/src/utils/image.ts
  packages/core/src/utils/marked/frontMatter.ts
  packages/core/src/utils/paste.ts
  packages/core/src/utils/search.ts
Due: eslint --fix

ci: bump CI Node from 20 to 22 to fix ESLint config loading (#203)
  .github/actions/setup-node/action.yml
Due: none

fix: normalize HTML tag case in getCopyTextType
  packages/core/src/utils/paste.ts
Due: eslint --fix

chore: scope ReDoS rule disables to specific lines in rules.ts
  packages/core/src/inlineRenderer/rules.ts
Due: eslint --fix

chore: clear 57 pre-existing ESLint errors exposed after #199 (#204)
  packages/core/src/block/base/format.ts
  packages/core/src/block/base/parent.ts
  packages/core/src/block/commonMark/html/htmlPreview.ts
  packages/core/src/block/content/codeBlockContent/index.ts
  packages/core/src/block/extra/diagram/diagramPreview.ts
  packages/core/src/block/extra/math/mathPreview.ts
  packages/core/src/inlineRenderer/renderer/inlineMath.ts
  packages/core/src/inlineRenderer/rules.ts
  packages/core/src/state/markdownToHtml.ts
  packages/core/src/utils/image.ts
  packages/core/src/utils/marked/frontMatter.ts
  packages/core/src/utils/paste.ts
  packages/core/src/utils/search.ts
Due: eslint --fix

style: fix all stylelint errors and warnings reported by lint:css
  examples/src/style.css
  packages/core/src/assets/styles/blockSyntax.css
  packages/core/src/assets/styles/exportStyle.css
  packages/core/src/assets/styles/index.css
  packages/core/src/assets/styles/inlineSyntax.css
  packages/core/src/assets/styles/prismjs/light.theme.css
  packages/core/src/ui/baseFloat/index.css
  packages/core/src/ui/codeBlockLanguageSelector/index.css
  packages/core/src/ui/imageEditTool/index.css
  packages/core/src/ui/paragraphFrontButton/index.css
Due: stylelint "**/*.css" --fix

style: keep prefix media-feature notation for chrome70 build target
  .stylelintrc
  packages/core/src/assets/styles/exportStyle.css
Due: stylelint "**/*.css" --fix

style: satisfy prettier on exportStyle font-family
  packages/core/src/assets/styles/exportStyle.css
Due: stylelint "**/*.css" --fix

style: fix all stylelint errors and warnings from lint:css (#205)
  .stylelintrc
  examples/src/style.css
  packages/core/src/assets/styles/blockSyntax.css
  packages/core/src/assets/styles/exportStyle.css
  packages/core/src/assets/styles/index.css
  packages/core/src/assets/styles/inlineSyntax.css
  packages/core/src/assets/styles/prismjs/light.theme.css
  packages/core/src/ui/baseFloat/index.css
  packages/core/src/ui/codeBlockLanguageSelector/index.css
  packages/core/src/ui/imageEditTool/index.css
  packages/core/src/ui/paragraphFrontButton/index.css
Due: stylelint "**/*.css" --fix

build(release): publish workspace packages from release-it
  .release-it.json
Due: none

build(release): create GitHub releases via gh CLI instead of release-it
  .release-it.json
Due: none

build(release): adapt to @release-it/conventional-changelog v11 preset shape
  .release-it.json
Due: none

build(deps): pin release-it to ^19.2.4 for workspaces plugin peer
  package.json
  pnpm-lock.yaml
Due: none

chore: gitignore Claude Code local workspace dir
  .gitignore
Due: none

fix(build): restore lib/types output after vite-plugin-dts v5 upgrade
  packages/core/vite.config.ts
Due: eslint --fix

build(deps): add conventional-changelog-angular as root devDep
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  stylelint "**/*.css" --fix: any of: *.{html,css}
